<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Blog Website</h5>
                <p>Share your thoughts and connect with others through our blogging platform.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <h5>Connect With Us</h5>
                <div class="social-links">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="text-center">
            <p class="mb-0">&copy; {% now "Y" %} Blog Website. All rights reserved.</p>
        </div>
    </div>
</footer> 