{% extends 'blog_app/base.html' %}

{% block title %}Contact Us - Blog Website{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Contact Us</h1>
    <div class="card shadow-lg p-4">
        <h3>We'd love to hear from you!</h3>
        <p>
            If you have any questions, feedback, or suggestions, please feel free to reach out to us. You can contact us via email or through our social media channels below.
        </p>
        <ul>
            <li>Email: <a href="mailto:support@blogwebsite.com">support@blogwebsite.com</a></li>
            <li>Facebook: <a href="#">Blog Website Facebook</a></li>
            <li>Twitter: <a href="#">@BlogWebsite</a></li>
            <li>Instagram: <a href="#">@BlogWebsite</a></li>
        </ul>
        <p>
            We aim to respond to all inquiries within 24-48 hours. Thank you for being a part of our community!
        </p>
    </div>
</div>
{% endblock %} 